<div class="flat-block node-avatar-edit-template">
    <div class="flat-block-header">
        <div class="pull-left">
            修改节点照片
        </div>
        <div class="pull-right">
            <a class="fancybox-close-button close-button black-color" href="javascript:void(0)">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="flat-block-content node-avatar-edit-template-content">
        <div id="node-avatar-preview"></div>
        <div>
            <input type="hidden" id="x" name="x" />
            <input type="hidden" id="y" name="y" />
            <input type="hidden" id="w" name="w" />
            <input type="hidden" id="h" name="h" />
            <input type="hidden" name="target-width" value="460"/>
        </div>
        <div class="mt15">
            <div class="pull-right">
                <button id="save-avatar-button" type="button" class="button button-flat-caution">保存</button>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
