{% extends ../profile.html %}

{% block link %}
<link rel="stylesheet" href="{{ static_url('app/profile/css/profile.css') }}">
<link rel="stylesheet" href="{{ static_url('app/profile/css/status.css') }}">
{% end %}

{% block javascript_in_body %}
<script type="text/javascript" src="{{ static_url('app/profile/js/status.js') }}" defer></script>
<script type="text/javascript" src="{{ static_url('app/home/js/status_.js') }}" defer></script>
{% end %}

{% block app %}
<div class="container mt20">
    <div class="btn-group">
        <a href="/profile/status/{{ user['_id'] }}#header" class="btn btn-danger">
            <i class="fa fa-comments"></i> 状态
        </a>
        <a href="/profile/topic/{{ user['_id'] }}#header" class="btn">
            <i class="fa fa-quote-left"></i> 话题
        </a>
        <a href="/profile/leavemessage/{{ user['_id'] }}#header" class="btn">
            <i class="fa fa-edit"></i> 留言
        </a>
    </div>
</div>

<div class="container">
    <div class="main-content mt40">
        {% include 'status-list.html' %}
    </div>
    <div {% if status_list %} class="mt40" {% else %} class="mt20" {% end %}>
        {% include 'status-sidebar.html' %}
    </div>
</div>
{% end %}
