 {% extends "setting.html" %}

{% block link %}
<link rel="stylesheet" href="{{ static_url('app/setting/css/setting.css') }}">
<link rel="stylesheet" href="{{ static_url('app/setting/css/setting-password.css') }}">
{% end %}

{% block javascript_in_body %}
<script type="text/javascript" src="{{ static_url('app/setting/js/setting-password.js') }}" defer></script>
{% end %}

{% block setting-navbar %}
<ul class="unstyled setting-navbar coffee-color">
    <li class="border-bottom">
        <a href="/setting/profile">基本资料</a>
    </li>
    <li class="border-bottom">
        <a href="/setting/avatar">头像设置</a>
    </li>
    <li class="border-bottom">
        <a href="/setting/theme">主题设置</a>
    </li>
    <li class="border-bottom">
        <a href="/setting/profile/cover">个人封面</a>
    </li>
    <li class="border-bottom active">
        <a href="/setting/password">修改密码</a>
    </li>
    <li class="border-bottom">
        <a href="/setting/private">隐私设置</a>
    </li>
    <li class="border-bottom">
        <a href="/setting/notification">提醒设置</a>
    </li>
</ul>
{% end %}

{% block setting_content %}
<div class="main-content">
	<div class="inner">
        <div class="flat-block">
            <div class="flat-block-content setting-password">
                <legend>修改密码</legend>
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label">当前密码:</label>
                        <div class="controls">
                            <input type="password" name="current-password" placeholder="当前密码" value="">
                            <span class="help-block">请输入当前密码</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">新密码:</label>
                        <div class="controls">
                            <input type="password" name="new-password" placeholder="新密码">
                            <span class="help-block">由6-20位字符(字母、数字、符号)组成，区分大小写</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" >确认密码:</label>
                        <div class="controls">
                            <input type="password" name="repeat-password" placeholder="确认密码">
                            <span class="help-block">请重复输入新密码</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <div class="pull-right">
                                <a id="save-password-button" class="button button-flat-caution" href="javascript:void(0)">保存</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
	</div>
</div>
{% end %}
