{% extends "../../base/template/appbase.html" %}

{% block body %}
<div class="container mt60">
	<div class="sidebar">
		<div class="flat-block">
			<div class="flat-block-header">
			    <img src="{{ handler.get_avatar(handler.current_user['_id'], 'thumbnail50x50') }}">
                <a href="/profile/{{ current_user['_id'] }}" class="coffee-color">{{ current_user['name'] }}</a>
			</div>
            <div class="flat-block-content">
                {% block setting-navbar %}{% end %}
            </div>
		</div>
	</div>

	{% block setting_content %}{% end %}
</div>
{% end %}
