 {% extends "../../base/template/base.html" %}

{% block link %}
<link rel="stylesheet" href="{{ static_url('app/user/css/password-reset.css') }}">
{% end %}

{% block javascript_in_body %}
<script type="text/javascript" src="{{ static_url('app/user/js/password-reset.js') }}" defer></script>
{% end %}

{% block body%}
<div class="container" style="width: 340px;">
    <div class="password-reset-form">
        <div>
            <input type="password" name="password" placeholder="长度至少6位, 可以是字母、数字或者非空白字符" style="width: 325px">
        </div>
        <div class="password-reset-actions">
            <div class="note-color pull-left" style="margin-top: 3px;">
                请重设你的密码, 该验证链接仅能使用一次
            </div>
            <div class="pull-right">
                <a href="javascript:void(0)" id="submit-password-button" class="button button-flat-caution button-small glow">提交</a>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
{% end %}
