<div class="flat-block register-form">
    <div class="register-form-inner">
        <div class="register-field">
            <input type="text" name="register-name" placeholder="用户名">
        </div>
        <div class="register-field">
            <input type="text" name="register-email" placeholder="邮箱">
        </div>
        <div class="register-field">
            <input type="password" name="register-password" placeholder="密码 长度至少6位, 可以是字母、数字或者非空白字符">
        </div>
        <div class="register-actions">
            <div class="pull-right">
                <a href="javascript:void(0)" id="submit-register-button" class="button button-flat-caution button-small">注册</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
