/* 
* @Author: lime
* @Date:   2014-03-21 09:13:50
* @Last Modified by:   lime
* @Last Modified time: 2014-03-21 12:11:57
*/

.setting-private{
    padding: 10px 20px 20px 20px;
    min-height: 602px
}

.setting-private form{
    padding: 70px 230px; 
    width: 500px
}
