/* 
* @Author: lime
* @Date:   2014-03-01 08:48:56
* @Last Modified by:   lime
* @Last Modified time: 2014-06-01 15:36:22
*/
.main-content{
    position: relative;
    float: right;
    width: 780px;
}
.main-content .inner{
    padding: 0px 0px 0px 10px;
}
.sidebar{
    position: relative;
    float: left;
    width: 180px;
}
.setting-navbar{
    min-height: 570px
}
.setting-navbar li{
	font-size: 13px;
	padding: 8px 10px 8px 15px;
    border-left-width: 3px;
}
.setting-navbar .active{
    border-left: 3px solid #D32;
    color: #D32!important;
}
.setting-navbar .active a{
    color: #D32!important;
}
.select2-container{
    margin-right: 10px;
}