{% if message_list %}
<div class="flat-block">
    <div class="flat-block-header">
        好友请求
    </div>
    <div class="flat-block-content message-list">
        <table id="message-list">
            {% for message in message_list %}
                {% include 'message-friend-request-list-item.html' %}
            {% end %}
        </table>
    </div>
</div>
{% else %}
<div class="flat-block no-message-list">
    <div class="flat-block-header">
        好友请求
    </div>
    <div class="flat-block-content no-message-list-inner text-center note-color">
        没有好友请求
    </div>
</div>
{% end %}